.blog-posts {
  border-collapse: separate;
  width: 100%;
  margin: -.5em 0 1em 0;

  & .blog-post {
    line-height: 1.5em;

    & .title {
      border-bottom: 2px dotted var(--bs-border-color);
      & > span {
        background-color: var(--bs-body-bg);
        padding-right: 20px;
      }
    }
    & .date {
      text-align: right;
      width: 12ch;
    }
    & span, & time {
      bottom: -0.5em;
      position: relative;
    }
    & span {
      left: -1px;
    }
  }
}
