blockquote {
  background-color: var(--bs-secondary-bg-subtle);
  border-left: 2px solid var(--bs-dark);
  box-shadow: var(--bs-box-shadow);
  margin: 0 1rem 1rem 1rem;
  padding-left: 3rem;
  position: relative;

  &:before {
    content: url('/img/quote.svg');
    left: .5rem;
    position: absolute;
    top: 0;
  }

  .blockquote-footer {
    font-style: italic;
  }
}
