@import "bootstrap";
@import "blockquote";
@import "blog-posts";
@import "code";
@import "header";
@import "post";

body {
  background-color: var(--bs-dark-bg-subtle);
  -webkit-font-smoothing: subpixel-antialiased;
}

main {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-dark-border-subtle) !important;
  border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  box-shadow: var(--bs-box-shadow) !important;

  @import "a";
}
