.markdown {
  img {
    --bs-border-opacity: 1;

    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity));
    border-radius: var(--bs-border-radius);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  }

  code {
    table {
      tbody tr:first-child td {
        padding-top: .5rem;
      }

      tbody tr:last-child td {
        padding-bottom: .5rem;
      }

      tr td:first-child {
        border-right: 1px solid white;
        padding-left: 1rem;
        padding-right: .5rem;
      }
    }
  }

  pre {
    border-radius: var(--bs-border-radius);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  }

  pre:not([data-linenos]) {
    padding: .5rem;
  }
}
