---
permalink: /404.html
layout: default
---

.text-center
  %p<
    %img{ alt: '404 - Not Found', src: '{{ "/assets/images/omg-404-not-found.png" | relative_url }}' }/
  %p The requested page could not be found.
