<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    {% if eleventy.runMode == "build" %}<base href="{{ site.url }}">{% endif %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <title>{{ site.name }}{% if title != null %} &mdash; {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family=Fira+Code:wght@300..700">
    {% link "stylesheet", "/css/style.css" %}
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="prefetching" href="/img/walnut.jpg" as="image">
    <link rel="prefetching" href="/img/walnut@x2.jpg" as="image">
    <link rel="prefetching" href="/img/walnut@x3.jpg" as="image">
    <link rel="me" href="https://hachyderm.io/@Romain">
    {% script "js/index.js" %}
  </head>

  <body class="font-body subpixel-antialiased bg-slate-300 dark:bg-slate-800 text-slate-900 dark:text-slate-100" itemscope itemtype="http://schema.org/Blog">
    <header class="sticky z-10 top-0 w-full bg-zinc-700 bg-gradient-to-b from-black/0 to-black/15 text-white shadow-md shadow-black/50">
      <nav class="flex content-center items-center justify-between p-4">
        <a class="whitespace-nowrap text-4xl/6 font-bold" href="{{ site.url }}">
          <img class="inline-block"
            alt="A logo presenting the stylized initials R.M."
            srcset="/img/logo.png 1x, /img/logo@x2.png 2x, /img/logo@x3.png 3x, /img/logo@x4.png 4x"
            src="/img/logo.png"
            width="44"
            height="48"
            />
          <span class="text-transparent bg-double bg-clip-text bg-gradient-to-tl from-rbow-teal via-rbow-yellow to-rbow-indigo animate-bg-slide">
            {{ site.name }}
          </span>
        </a>
        <ul class="flex items-center space-x-5">
          <li class="mx-2">
            <a class="block text-white" href="/#about">
              {% icon "person-badge-fill", 24, 24, "block", "mx-auto", "mb-1" %}
              About
            </a>
          </li>
          <li class="mx-2">
            <a class="block text-white" href="/#blog">
              {% icon "book-half", 24, 24, "block", "mx-auto", "mb-1" %}
              Blog
            </a>
          </li>
          <li class="mx-2">
            <a class="block text-white" href="/#speaking">
              {% icon "megaphone-fill", 24, 24, "block", "mx-auto", "mb-1" %}
              Speaking
            </a>
          </li>
          <li class="mx-2">
            <a class="block text-white" href="/#contact">
              {% icon "mailbox2-flag", 24, 24, "block", "mx-auto", "mb-1" %}
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container mx-auto py-4 {{ container_padding if container_padding != null else "px-4" }} bg-white dark:bg-black text-black dark:text-white shadow-lg shadow-black/50">
      {{ content | safe }}
    </main>
    <footer class="text-gray-500 text-center mt-6 mb-4">
      Copyright &copy; 2023-Current &ndash; Romain Marcadier. All rights reserved.
    </footer>
  </body>
</html>
