%nav.bg-dark.d-print.fixed-top.navbar.navbar-dark.shadow
  %a.navbar-brand{ href: '{{ site.url }}' }
    {% octicon broadcast aria-label:"Logo" height:30 class:"align-top d-inline-block mr-1" %} {{ site.title }}
