<ul class="pagination">
{% if paginator.previous_page %}
  {% assign class = "waves-effect" %}
{% else %}
  {% assign class = "disabled" %}
{% endif %}
  <li class="{{ class }}">
    <a href="{{ paginator.previous_page_patg }}">
      {% include octicon.html name="chevron-left" %}
    </a>
  </li>

{% for page_num in (1..paginator.total_pages) %}
  <li class="{% if page_num == paginator.page %}active{% else %}waves-effect{% endif %}">
    {% if page_num == 1 %}
      {% assign page_url = paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' %}
    {% else %}
      {% assign page_url = site.paginate_path | prepend: site.baseurl  | replace: '//', '/' | replace: ':num', page_num %}
    {% endif %}
    <a href="{{ page_url }}">{{ page_num }}</a>
  </li>
{% endfor %}

{% if paginator.next_page %}
  {% assign class = "waves-effect" %}
{% else %}
  {% assign class = "disabled" %}
{% endif %}
  <li class="{{ class }}">
    <a href="{{ paginator.next_page_path }}">
      {% include octicon.html name="chevron-right" %}
    </a>
  </li>
</ul>
