---
layout: base
image: image-set("/img/walnut.jpg" 1x, "/img/walnut@x2.jpg" 2x, "/img/walnut@x3.jpg" 3x)
px: 0
py: 0
---
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="title position-relative" style="background-image: {{ image }}">
    <h1  itemprop="headline">{{ title }}</h1>
    {%- set cdate -%}{% date page.date, "long" %}{%- endset -%}
    <div class="publish-date position-absolute bottom-0 end-0" itemprop="datePublished">Published: {{ cdate | safe }}</div>
  </div>
  <div class="container clearfix px-auto" itemprop="text">
    {{ content | safe }}

    <div class="signature" itemprop="author">&ndash; {{ site.author }}</div>
    {%- set mdate -%}{% mdate page, "long" %}{%- endset -%}
    {% if cdate != mdate %}
    <div class="text-secondary float-end" itemprop="dateModified">Updated on {{ mdate | safe }}</div>
    {% endif %}
  </div>
</article>

{%- set newerPost = collections.post | reverse | getPreviousCollectionItem -%}
{%- set olderPost = collections.post | reverse | getNextCollectionItem -%}
{%- if olderPost != null or newerPost != null -%}
<div class="container clearfix py-2">
  <div class="btn-group float-end" role="group" aria-label="Navigate posts">
    {%- if olderPost != null -%}
    <a class="btn btn-lg btn-outline-success" href="{{ olderPost.url | url }}" role="button">{% icon "skip-backward-btn-fill", "1.5rem" %}&nbsp;{{ olderPost.data.title }}</a>
    {%- endif -%}

    {%- if newerPost != null -%}
    <a class="btn btn-lg btn-outline-success" href="{{ newerPost.url | url }}" role="button">{{ newerPost.data.title }}&nbsp;{% icon "skip-forward-btn-fill", "1.5rem" %}</a>
    {%- endif -%}
  </div>
</div>
{%- endif -%}
