---
layout: base
image: image-set("/img/walnut.jpg" 1x, "/img/walnut@x2.jpg" 2x, "/img/walnut@x3.jpg" 3x)
container_padding: px-0
---
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="pt-2 pb-6 bg-center bg-cover" style="background-image: {{ image }}">
    <h1 class="px-6 py-1 bg-black text-white inline-block mix-blend-multiply" itemprop="headline">{{ title }}</h1>
    {%- set cdate -%}{% date page.date, "long" %}{%- endset -%}
    {%- set mdate -%}{% mdate page, "long" %}{%- endset -%}
    <div class="grid justify-items-end mb-[2ex]">
      <div><span class="px-6 py-1 bg-black text-white mix-blend-multiply" itemprop="datePublished">Published: {{ cdate | safe }}</span></div>
      {% if cdate != mdate %}
      <div><span class="px-6 py-1 bg-black text-white mix-blend-multiply" itemprop="dateModified">Updated: {{ mdate | safe }}</span></div>
      {% endif %}
    </div>
  </div>
  <div class="p-4" itemprop="text">
    {{ content | safe }}

    <div class="italic pl-6" itemprop="author">&ndash; {{ site.author }}</div>
  </div>
</article>

{%- set newerPost = collections.post | reverse | getPreviousCollectionItem -%}
{%- set olderPost = collections.post | reverse | getNextCollectionItem -%}
{%- if olderPost != null or newerPost != null -%}
<nav class="flex justify-between p-4" aria-label="Navigate posts">
  {%- set linkClass = "p-2 text-white font-medium plain rainbow border rounded-lg shadow-inner shadow-black" -%}
  {%- if olderPost != null -%}
  <a class="{{ linkClass }}" href="{{ olderPost.url | url }}" role="button">{% icon "skip-backward-btn-fill", "1.5rem", "1.5rem", "inline-block", "pr-2" %}<span>{{ olderPost.data.title }}</span></a>
  {%- else -%}
  <div><span class="sr-only">There is no older post!</span></div>
  {%- endif -%}

  {%- if newerPost != null -%}
  <a class="{{ linkClass }}" href="{{ newerPost.url | url }}" role="button"><span>{{ newerPost.data.title }}</span>{% icon "skip-forward-btn-fill", "1.5rem", "1.5rem", "inline-block", "pl-2" %}</a>
  {%- else -%}
  <div><span class="sr-only">There is no newer post!</span></div>
  {%- endif -%}
</nav>
{%- endif -%}
