pre {
  &.highlight {
    @extend .rounded;
    @extend .shadow;

    pre, .lineno {
      @extend .pb-2;
      @extend .pl-2;
      @extend .pt-2;
      @extend .m-0;
    }

    .lineno {
      @extend .text-right;
      @extend .pr-2;

      background-color: #191E2A;
      border-right: 1px solid #707A8C;
      color: #707A8CCC;
    }
  }

  // Based off https://github.com/ayu-theme/ayu-colors
  &.highlight {
    background: #1F2430;
    color: #CBCCC6;

    .hll { background-color: #707A8CCC }

    // Comment
    .c { color: #5C6773 }

    // Error
    .err { color: #FF3333 }

    // Keyword
    .k { color: #FFA759 }

    // Literal
    .l { color: #ae81ff }

    // Name
    .n { color: #f8f8f2 }

    // Operator
    .o { color: #F29274 }

    // Punctuation
    .p, .pi { color: #f8f8f2 }

    // Comment.Multiline
    .cm { color: #5C6773 }

    // Comment.Preproc
    .cp { color: #5C6773 }

    // Comment.Single
    .c1 { color: #5C6773; font-style: italic }

    // Comment.Special
    .cs { color: #5C6773 }

    // Generic.Emph
    .ge { font-style: italic }

    // Generic.Strong
    .gs { font-weight: bold }

    // Keyword.Constant
    .kc { color: #D4BFFF }

    // Keyword.Declaration
    .kd { color: #FFA759 }

    // Keyword.Namespace
    .kn { color: #FFA759 }

    // Keyword.Pseudo
    .kp { color: #FFA759 }

    // Keyword.Reserved
    .kr { color: #FFA759 }

    // Keyword.Type
    .kt { color: #FFA759 }

    // Literal.Date
    .ld { color: #e6db74 }

    // Literal.Number
    .m { color: #ae81ff }

    // Literal.String
    .s, .dl { color: #BAE67E }

    // Name.Attribute
    .na { color: #a6e22e }

    // Name.Builtin
    .nb { color: #f8f8f2 }

    // Name.Class
    .nc { color: #a6e22e }

    // Name.Constant
    .no { color: #D4BFFF }

    // Name.Decorator
    .nd { color: #a6e22e }

    // Name.Entity
    .ni { color: #f8f8f2 }

    // Name.Exception
    .ne { color: #a6e22e }

    // Name.Function
    .nf { color: #FFD580 }

    // Name.Label
    .nl { color: #f8f8f2 }

    // Name.Namespace
    .nn { color: #f8f8f2 }

    // Name.Other
    .nx { color: #73D0FF }

    // Name.Property
    .py { color: #f8f8f2 }

    // Name.Tag
    .nt { color: #5CCFE6 }

    // Name.Variable
    .nv { color: #f8f8f2 }

    // Operator.Word
    .ow { color: #f92672 }

    // Text.Whitespace
    .w { color: #f8f8f2 }

    // Literal.Number.Float
    .mf { color: #ae81ff }

    // Literal.Number.Hex
    .mh { color: #ae81ff }

    // Literal.Number.Integer
    .mi { color: #ae81ff }

    // Literal.Number.Oct
    .mo { color: #ae81ff }

    // Literal.String.Backtick
    .sb { color: #e6db74 }

    // Literal.String.Char
    .sc { color: #e6db74 }

    // Literal.String.Doc
    .sd { color: #e6db74 }

    // Literal.String.Double
    .s2 { color: #e6db74 }

    // Literal.String.Escape
    .se { color: #ae81ff }

    // Literal.String.Heredoc
    .sh { color: #BAE67E }

    // Literal.String.Interpol
    .si { color: #BAE67E }

    // Literal.String.Other
    .sx { color: #BAE67E }

    // Literal.String.Regex
    .sr { color: #95E6CB }

    // Literal.String.Single
    .s1 { color: #BAE67E }

    // Literal.String.Symbol
    .ss { color: #e6db74 }

    // Name.Builtin.Pseudo
    .bp { color: #f8f8f2 }

    // Name.Variable.Class
    .vc { color: #f8f8f2 }

    // Name.Variable.Global
    .vg { color: #f8f8f2 }

    // Name.Variable.Instance
    .vi { color: #f8f8f2 }

    // Literal.Number.Integer.Long
    .il { color: #ae81ff }


    // Generic Heading & Diff Header
    .gh { }

    // Generic.Subheading & Diff Unified/Comment?
    .gu { color: #75715e }

    // Generic.Deleted & Diff Deleted
    .gd { color: #f92672 }

    // Generic.Inserted & Diff Inserted
    .gi { color: #a6e22e }
  }
}

.language-yaml {
  pre.highlight {
    .na { color: #5ccfe6 }
    .pi { color: #fda659 }
    .s { color: #bae67e }
  }
}
