---
---
!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: '{{ site.encoding }}' }/
    %meta{ http_equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1' }/

    %meta{ name: 'author',      content: '{{ site.author.name }}' }/
    %meta{ name: 'description', content: '{{ site.description }}' }/
    %meta{ name: 'keywords',    content: '{{ site.keywords | join: "," }}' }/
    %meta{ name: 'revised',     content: '{{ site.time | date_to_rfc822 }}' }/
    %meta{ name: 'viewport',    content: 'width=device-width, initial-scale=1' }/
    {% feed_meta %}

    %link{ rel: 'license', title: '{{ site.license.name }}', href: 'https://spdx.org/licenses/{{ site.license.spdx }}.html' }/

    %link{ rel: 'icon', sizes: '160x160', href: '{{ "/assets/images/favicon.png" | add_cache_buster }}' }
    %link{ rel: 'shortcut icon', href: '{{ "/assets/images/favicon.ico" | add_cache_buster }}' }
    %link{ rel: 'icon', type: 'image/vnd.microsoft.icon', href: '{{ "/assets/images/favicon.ico" | add_cache_buster }}' }
    %link{ rel: 'icon', type: 'image/x-icon', href: '{{ "/assets/images/favicon.ico" | add_cache_buster }}' }
    %link{ rel: 'icon', href: '{{ "/assets/images/favicon.ico" | add_cache_buster }}' }

    %title<= '{{ site.title }}'

    %link{ rel: 'stylesheet', href: '{{ "/assets/css/index.css" | add_cache_buster }}?{{ site.time | date: "%s" }}' }/

  %body
    %header
      {% include header.haml %}

    .container-fluid
      .row
        .col.py-3
          {{ content }}
        .col-sm-3.py-3.d-none.d-lg-block
          {% include sidebar.haml %}

    %script{ src: 'https://code.jquery.com/jquery-3.3.1.slim.min.js',                          integrity: 'sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin: 'anonymous' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity: 'sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin: 'anonymous' }
    %script{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js',    integrity: 'sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin: 'anonymous' }
